
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  background-color: rgb(66, 135, 238);
  color: white;
  text-align: center;
  padding: 2rem;
}

main{  
  padding: 2rem;
}

h2{
  color: rgb(66, 135, 238);
}

main ul{  
  list-style-type: circle;
  margin-left: 1rem;
  margin-top: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
}

main ul li{
  padding: 0.5rem;
}

.importante{
  text-decoration: underline;
  font-weight: bold;
}

#descanso{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

table{
  margin-left: 1rem;
  margin-top: 0.5rem;
}

table thead{
  background-color: rgb(66, 135, 238);
  color: white;
}

table td, th{
  padding: 1rem;
}

tbody tr:nth-child(even){
  background-color: rgb(145, 184, 243);
}

tbody tr:nth-child(odd){
  background-color: rgb(218, 232, 252);
}

tbody th{
  background-color: rgba(66, 135, 238, 0.274);
}