@import url(./base.css);

 body{
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10rem 2rem 1fr 2rem;

  grid-template-areas: 
    "cabecera cabecera"
    "menu menu"
    "main main"
    "footer footer";
}

 header{
  border: 1px solid black;
  grid-area: cabecera;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
 }

 header menu{
   display: flex;
 }

 header menu li{
  border: 1px solid black;
  margin: 0 0.5rem;
 } 

 body nav{
  border: 1px solid black;
  grid-area: menu;
 } 

 body nav menu{
   display: flex;
 }

main{
  border: 1px solid black;
  grid-area: main;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  flex-wrap: wrap;
}

article{
  margin: 1rem 0.5rem;
}

footer{
  border: 1px solid black;
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (min-width: 600px){

  body{
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 5rem 1fr 2rem;
    grid-template-areas:
      "cabecera cabecera"
      "menu main"
      "footer footer";
  }

  header{
    flex-direction: row;
    justify-content: space-between;    
  }

  body header nav menu{
    flex-direction: row;
  }

  body nav menu{
    flex-direction: column;
  }

  footer{
    justify-content: center;    
  }

  footer a{
    margin: 0 1rem;
  }
}
